<!DOCTYPE html>
<html>

<head>
  <title>App - Node Js</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
</head>

<body>
  <center>
    <h1><%= index.title %></h1>
    <p><%= index.phrase %></p>
    <img src="<%= index.image %>" />
    <br>
    <br>
    <br>
    <div class="text-center">
      <form method="GET" action="/register">
        <input type="submit" class="btn btn-primary text-center" value="Começar" >
      </form>

  </center>
  </div>
</body>

</html>