<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>User Register</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">

</head>

<body class="container">
    <h1 class="text-center">User List</h1>

    <ul>
        <% users.forEach(function(user) { %>
        <li><%= user.name %> - <%= user.email %></li>
        <% }); %>
    </ul>

    <br>
    <br>
    <br>

    <div class="text-center">
        <a class="btn btn-secondary" href="/register"><i class="fa fa-list-alt"></i> Register</a>
    </div>


</body>

</html>
